/* Caso eu quisesse, poderia baixar as fonts e colocar dentro do arquivo da minha pagina. Ai eu utilizaria esse codigo pra importar direto no CSS:*/
/*
@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Bold.ttf");
    format("truetype");
    font-weight: 700;
}
*/
/* 
@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Bold.ttf");
    format("truetype");
    font-weight: 700;
    font-style: normal;
}
*/


body{
    /* background-color: #012368; */
    background-color: #0e1014;
    color: #FFFFFF;
}
/*h1, p, a{
    color:#ffffff;

}*/
header img{
    display: block;
    margin: 75px 0 0 10%;

}
h1{
    font-size: 64px;
    font-family: "unbounded", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    /**/
    /**/
    /**/
    /**/
}
p{
    font-size: 24px;
    font-family: "poppins", sans-serif;
    font-weight: normal;
    text-align: center;
    /* margin-top: 24px; */
    width: 792px;
    margin: 24px auto 0;

}
h1 span{
    color: #9747ff;
}

a{
    color: #ffffff;
    font-family: "poppins", sans-serif;
    font-size: 20px;
    width: 251px;
    text-decoration: none;
    background-color: #9747ff;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;  
    border-radius: 36px;
    margin: 40px auto;
}
a:hover{
    background-color: #8233e8;
}

section img{
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

@media(max-width: 768px){
    header img {
        margin: 65px 0 0 60px;
               }
    p {
        width: 648px;
    }
}
@media (max-width: 375px) {
    header img {
        margin: 32px 0 0 16px;
    }
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 20px;
        width: 340px;
    }
    a {
    font-size: 20px;
    width: 251px;
    }
    section img {
        width: 340px;
        height: 230px;
    }
}